@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bebas Neue Regular";
  src: url("./app/assets/fonts/BebasNeue-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("./app/assets/fonts/WorkSans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rota";
  src: url("./app/assets/fonts/Rota-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}


.bebas {
  font-family: "Bebas Neue Regular", sans-serif;
}

.work {
  font-family: "Work Sans", sans-serif;
}

.rota {
  font-family: "Rota", sans-serif;
}

